[submodule "src/public/sumo"]
	path = src/public/sumo
	url = https://github.com/eldar/sumo.git
[submodule "src/public/3rdparty/dojo"]
	path = src/public/3rdparty/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/public/3rdparty/dijit"]
	path = src/public/3rdparty/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/async"]
	path = src/async
	url = https://github.com/maxter/async.js.git
[submodule "src/public/3rdparty/ace"]
	path = src/public/3rdparty/ace
	url = https://github.com/eldar/ace.git
[submodule "src/public/3rdparty/pilot"]
	path = src/public/3rdparty/pilot
	url = https://github.com/eldar/pilot.git
