[submodule "public/js/ace"]
	path = public/js/ace
	url = https://github.com/maxter/ace.git

[submodule "public/js/underscore"]
	path = public/js/underscore
	url = https://maxter@github.com/maxter/underscore.git
[submodule "public/js/pilot"]
	path = public/js/pilot
	url = https://eldar@github.com/eldar/pilot.git
