[submodule "public/js/ace"]
	path = public/js/ace
	url = https://maxter@github.com/maxter/ace.git

[submodule "public/js/underscore"]
	path = public/js/underscore
	url = https://maxter@github.com/maxter/underscore.git
