<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tarkus IDE</title>
<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.11.custom.css" rel="Stylesheet" />
<script data-main="js/main" src="js/jquery/require-jquery.js"></script>
<link type="text/css" href="css/main.css" rel="Stylesheet" />
</head>

<body>
    <div class="ui-layout-north">
        <button class="tarkus-toolbutton" id="new-project">New Project</button>
        <button class="tarkus-toolbutton" id="open-project">Open Project</button>
        <button class="tarkus-toolbutton" id="new-file">New File</button>
        <button class="tarkus-toolbutton" id="new-folder">New Folder</button>
        <button class="tarkus-toolbutton" id="rename-node">Rename</button>
        <button class="tarkus-toolbutton" id="remove-node">Remove</button>
        <button class="tarkus-toolbutton" id="save-node">Save</button>
    </div>
    <div id="left-pane" class="ui-layout-west">
        <div class="ui-layout-north">
            <div class="header">Project Explorer</div>
            <div id="project-tree-widget">
            </div>
        </div>
        <div class="ui-layout-center">
            <div class="header">Open Documents</div>
            <div id="opened-docs-widget">
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div id="editor">
        </div>
    </div>

<!-- Temporarily place the dialogs here unless found a better place -->
<div id="open-project-dialog" class="tarkus-dialog" title="Open Project">
    <p>Select the project from the list</p>
    <div id="project-list"/>
</div>
</body>
</html>
