html, body
{
    margin: 0;            /* Remove body margin/padding */
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;    /* Remove scroll bars on browser window */
}
#header { padding: 0px; }

.mainarea {
    height: 100%;
    border: 3px solid #669;
}

.mainarea div {
    overflow: hidden;
}

#leftpane {
    width: 250px;
}

.tarkus-full-sized {
    width: 100%;
    height: 100%;
}

#editor {
    height: 100%;
    width: 100%;
}

/* Splitbar styles; these are the default class names */

.ui-state-default { background-color: #88c }
.ui-state-hover { background-color: #bbf }
.ui-state-highlight { background-color: #68f }
.ui-state-error { background-color: #eaa }

.splitter-pane {
    overflow: auto;
}
.splitter-bar-vertical {
    width: 3px;
    background-image: url(img/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar-vertical-docked {
    width: 10px;
    background-image: url(img/vdockbar-trans.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar.ui-state-highlight {
    opacity: 0.7;
}
