body {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size: 14px;
}

.content { overflow: auto; position: relative; }

#editor {
    height: 100%;
    width: 100%;
}

.tarkus-button-close { float: right; color: gray; }

.list-view-hovered { background:#e7f4f9; border:0px solid #e7f4f9; }
.list-view-clicked { background:#63a1d6; border:0px solid #63a1d6; padding:0 0px 0 0px; color:white; }

.list-view-unclicked-a { color:black; }
.list-view-clicked-a { color:white; }

.header { 
    background: #d6d6d6;
    padding: 3px 10px;
    font-size: 0.85em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
/*
 * Layout resizers
 */

.resizer-north-open,
.resizer-south-open,
.resizer-west-open,
.resizer-east-open {
    background-color: #fff;
}

.tarkus-bordered {
    border-style:solid;
    border-width:1px;
    border-color:#999;
}
