#editor {
    height: 100%;
    width: 100%;
}

.tarkus-ui-hovered { background:#e7f4f9; border:0px solid #e7f4f9; }
.tarkus-button-close { float: right; color: gray; }

/*
 * Layout resizers
 */

.resizer-north-open,
.resizer-south-open,
.resizer-west-open,
.resizer-east-open {
    background-color: #999;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.resizer-north-open:hover,
.resizer-south-open:hover,
.resizer-west-open:hover ,
.resizer-east-open:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.resizer-dragging {
    /* see draggable.opacity option
    opacity: 0.5;
    filter: alpha(opacity=50);
    */
}
.resizer-dragging-limit { background: #FF3300 !important; }