    <div class="ui-layout-north">
        <button class="tarkus-toolbutton" id="new-project">New Project</button>
        <button class="tarkus-toolbutton" id="open-project">Open Project</button>
        <button class="tarkus-toolbutton" id="new-file">New File</button>
        <button class="tarkus-toolbutton" id="new-folder">New Folder</button>
        <button class="tarkus-toolbutton" id="rename-node">Rename</button>
        <button class="tarkus-toolbutton" id="remove-node">Remove</button>
        <button class="tarkus-toolbutton" id="save-node">Save</button>
    </div>
    <div id="left-pane" class="ui-layout-west">
        <div class="ui-layout-north tarkus-bordered">
            <div class="header">Project Explorer</div>
            <div id="project-tree-widget" class="content">
            </div>
        </div>
        <div class="ui-layout-center tarkus-bordered">
            <div class="header">Open Documents</div>
            <div id="open-docs-widget">
            </div>
        </div>
    </div>
    <div class="ui-layout-center tarkus-bordered">
        <div id="editor" class="content">
        </div>
    </div>

<!-- Temporarily place the dialogs here unless found a better place -->
<div id="open-project-dialog" title="Open Project">
    <div id="project-list"/>
</div>