<div dojoType="dijit.layout.BorderContainer" design="headline" gutters="true" liveSplitters="true" id="mainLayout">
    <div id="header" data-dojo-type="dijit.MenuBar" data-dojo-props="region:'top'" id="menuBar">
        <div data-dojo-type="dijit.PopupMenuBarItem">
            <span>File</span>
            <div data-dojo-type="dijit.Menu" id="fileMenu">
            </div>
        </div>
        <div data-dojo-type="dijit.PopupMenuBarItem">
            <span>Edit</span>
            <div data-dojo-type="dijit.Menu" id="editMenu">
            </div>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" splitter="true" region="left" style="width: 200px; padding: 0px;" id="leftPane">
    </div>
    <div dojoType="dijit.layout.ContentPane" splitter="true" region="center" style="padding: 0px;" id="centerPane">
    </div>
</div>
