body {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    overflow: "hidden";
    overflowX: "hidden";
    overflowY: "hidden";
    margin: 0;
    padding: 0;
    border: "none";
}

html {
    height: 100%;
}

.content { overflow: auto; position: relative; }

#mainsplit {
    width: 100%;
    height: 100%;
}

#editor {
    height: 100%;
    width: 100%;
}

/* Menus */

#mainsplit > .ui-layout-north {overflow:visible}

#menubar {
    font-size: 12px;
    margin: 0 0 0em;
    border-top-width: 0px;
}

.ui-menu { width: 200px; position: absolute; outline: none; z-index: 9999; }
.ui-menu .ui-icon { float: right; }
.ui-menu li.ui-state-disabled {
    font-weight: bold;
    padding: .0em .0em;
    margin: .0em 0 .0em;
    line-height: 1.0;
}
        
/* menubar styles */
.ui-menubar .ui-button { float: left; font-weight: normal; border-top-width: 0 !important; border-bottom-width: 0 !important; margin: 0; outline: none; }
.ui-menubar .ui-menubar-link { border-right: 1px dashed transparent; border-left: 1px dashed transparent; }
        
.ui-menubar {
    list-style: none;
    margin: 0;
    padding-left: 0;    
}
        
.ui-menubar-item {
    float: left;        
}

.tarkus-button-close { float: right; color: gray; }

.list-view-hovered { background:#e7f4f9; border:0px solid #e7f4f9; }
.list-view-clicked { background:#63a1d6; border:0px solid #63a1d6; padding:0 0px 0 0px; color:white; }

.list-view-unclicked-a { color:black; }
.list-view-clicked-a { color:white; }

.ui-menubar .ui-button,
.unselectable {
    -moz-user-select: none;
    cursor: default;
}

.header { 
    background: #d6d6d6;
    padding: 3px 10px;
    font-size: 0.85em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
/*
 * Layout resizers
 */

.resizer-north-open,
.resizer-south-open,
.resizer-west-open,
.resizer-east-open {
    background-color: #fff;
}

.tarkus-bordered {
    border-style:solid;
    border-width:1px;
    border-color:#999;
}
