<div dojoType="dijit.layout.BorderContainer" design="headline" gutters="false" liveSplitters="true" id="mainLayout">
    <div data-dojo-type="dijit.MenuBar" data-dojo-props="region:'top'" id="menuBar">
        <div data-dojo-type="dijit.PopupMenuBarItem">
            <span>File</span>
            <div data-dojo-type="dijit.Menu" id="fileMenu"></div>
        </div>
        <div data-dojo-type="dijit.PopupMenuBarItem">
            <span>Edit</span>
            <div data-dojo-type="dijit.Menu" id="editMenu"></div>
        </div>
        <span dojoType="dijit.ToolbarSeparator"></span>
    </div>
    <div dojoType="dijit.layout.ContentPane" splitter="true" region="left" style="width: 250px; padding: 0px;" id="leftPane">
        <div dojoType="dijit.layout.BorderContainer" gutters="false" liveSplitters="true" id="leftLayout">
            <div dojoType="dijit.layout.ContentPane" splitter="true" region="center" style="padding: 0px; height:65%" id="leftTopPane" class="rightBottomBorder"></div>
            <div dojoType="dijit.layout.ContentPane" splitter="true" region="bottom" style="padding: 0px; height:35%" id="leftBottomPane" class="rightTopBorder"></div>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" splitter="true" region="center" style="padding: 0px;" id="centerPane" class="leftBorder">
        <div dojoType="dijit.layout.BorderContainer" gutters="false" id="centerContainer">
            <div dojoType="dijit.layout.ContentPane" region="top" id="tabPane" style="padding:0px 2px 0px 2px; margin:0px" class="dijitTabContainerTop-tabs"></div>
            <div dojoType="dijit.layout.ContentPane" region="center" style="padding: 0px;" id="editorPane"></div>
        </div>
    </div>
</div>
